.skillbar-title {
    width: 176px !important;
}

.skillbar-bar {
left: 171px !important;
} 


.skillbar-percent {
    right: -15px !important;
    color: black !important;
    font-weight: bold !important;
    font-size: 11px !important;
}
.tawk-min-container {
    display: none !important;
}